body{
	color: black;
	font-family: 'Cormorant', serif;
	font-family: 'Fruktur', cursive;
  	font-family: 'Fuzzy Bubbles', cursive;
   	font-family: 'Zen Antique Soft', serif;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	margin: 0;
	background-color: white;
}

header{
	color: #bcaa89;
	background-color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
}

h1,h2{
	font-family: 'Cormorant', serif;
	font-family: 'Fruktur', cursive;
	font-family: 'Zen Antique Soft', serif;;
}

header h1{
	padding-bottom: 30px;
	font-size: 50px;
}

header h1,h2,h3{
	padding-bottom: 30px;
	text-align: center;
}

header img {
	max-width: 100%;
	border-radius: 400px;
	width: 1000px;
}

main {
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
	background-color: #e6dcd2;
	padding: 30px ;
}
main img {
	text-align: center;
	max-width: 100%;
	border-radius: 600px;
	width: 1200px;
	border: 100px;
	padding-top: 50px;
	padding-bottom: 30px;
}

h2{
	margin: 40px 0 10px;
	font-size: 30px;
}
a{
	color: saddlebrown;
}
a:hover{
	background-color: white;
	color: black;
}

footer{
	padding-top: 20px;
	background-color: white;
	padding-bottom: 20px;
}

footer p{
	margin: 0;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}
ul {
    padding-bottom: 30px;
    text-align: center;
    display: table; 
    margin: 0 auto;
    line-height: 30px;
    text-align: left;
}


